.app{
  display: flex;
  min-height: 100vh;
  margin: auto;
  flex-direction:column;
  justify-content: center;
  align-items:center; 
  width: 50%;
  /* background-color: plum */
}

.title{
  border: 1px  #ccc;
  color:#802000;
  align-self: center;
  text-transform: uppercase;
}

